arcade==2.1.4
asn1crypto==1.2.0
attrs==19.3.0
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
cryptography==2.7
future==0.18.1
idna==2.8
numpy==1.17.3
Pillow==9.3.0
pycparser==2.19
pyglet==1.4.6
pyglet-ffmpeg2==0.1.15
pyOpenSSL==19.0.0
PySocks==1.7.1
pytiled-parser==0.9.0
requests==2.22.0
six==1.12.0
urllib3==1.24.2
win-inet-pton==1.1.0
wincertstore==0.2
